@media screen and (max-width: 480px) {
    .html {
        width: 100%;;
    }

    header {
        height: 80vh;
    }

    .header {
        height: 60px;
    }

    #menu-header .btn-join {
        width: 130px;
        font-size: 9px;
    }

    .btn-join {
        width: 60px;
        padding: 7px 0;
        margin-left: 10px;
    }


    #menu-header {
        gap: 0px;

    }

    .menu-list {
        flex-direction: column;
        width: 60%;
        padding-left: 20px;
        
    }

    .menu-header-list {
        display: none;
    }

    #apresentation-page {
        z-index: 1;
        width: 100%;
        height: 70vh;
        background-size: auto 70vh;
        background-position: top;
    
    }

    .components-menu-item{
        font-size: 22px;
    }

    .graduacao-heros{
        margin-top: 140px;
        width: 318px;
    }
    
    .graduacao-heros-title {
        font: 30px 'Gotham HTF Book';
        font-weight: 400;
        line-height: 35px;
    }
    
    .graduacao-heros-desc {
        padding-top: 10px;
        font: 18px 'Gotham HTF Book';
        font-weight: 400;
        line-height: 22px;
    }

    .header-logo-image{
        width: 60%;
    }

    .graduacao-heros-desc-decor {
        display: block;
        width: 10px;
        height: 2px;
        background-color: var(--magenta);
        position: absolute;
        margin-left: 159px;
        margin-top: 25px;
    }

    #scroll-text{
        display: none;
    }

    .informacoes-curso
    {
        width: 90%;
    }

    .informacoes-cursos-title{
        font-size: 30px;
    }

    


    .informacoes-curso-column-left {
        border: none;
        width: 100%;
    }

    .informacoes-curso-column-left p {
        padding: 0;
    }

    .informacoes-curso-column-right {
        display: none;
    }
    
    .informacoes-curso-columns div {
        width: 90%;
    }

    .grade-content {
        width: 90%;
    }

    .accordion-title {
        font-family: 'Gotham HTF Book';
    }

    .gaveta-turmas {

    }

    .accordion-btn {
        width: 30px;
        height: 30px;
    }

    .accordion-btn-element {
        width: 12px;
    }

    .accordion-turmas-content {
        
        width: 250px;
    }

    .accordion-text-decoration {
        display: none;
    }

    .grade-title {
        margin-top: 50px;
        font-size: 35px;
    }

    .grade-subtitle-text {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .gavetas-turmas-title{
        margin: 0;
    }

    .gavetas-turmas-text{
        margin: 0;
        font-size: 15px;
    }

    .turmas {
        width: 90%;
    }

    .accordion2-content {
        display: none;
    }

    #accordion2-mobile{
        display: block;
    }

    .turmas-title {
        font-size: 35px;
    }

    .turmas-table {
        display: none;
    }

    #accordion-3-mobile{

    }
 
    .informacoes-cursos-subtitle{
        display: none;
    }
  }