@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Gotham HTF Medium';
    src: url(../font/GothamHTF-Medium.otf);
}

@font-face {
    font-family: 'Gotham HTF Bold';
    src: url(../font/GothamHTF-Bold.otf);
}

@font-face {
    font-family: 'Gotham HTF Book';
    src: url(../font/GothamHTF-Book.otf);
}

:root {
    --white: #FFFFFF;
    --light-gray: #91A3AD;
    --magenta: #ED145B;
    --black: #000000;
    --gray: #616D72;
    --dark-gray: #32383B;
    --header-gray: #151819;
}

html {
    scroll-behavior: smooth;
}

body {

    background-color: var(--black);
}

.anchor{
    top: 80vh;

    position: absolute;
    display: block;
}

header {
    height: 110vh;
}

.header {
    width: 100%;
    height: 80px;
    background-color: var(--header-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

#menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin: 0 auto;
    letter-spacing: 0.05em;
}


.menu-list {
    display: flex;
    flex-direction: row;
    gap: 80px;

}

.components-menu-item {
    font: 15px 'Gotham HTF Book';
    font-weight: 500;
    text-decoration: none;
    color: var(--light-gray);
    transition: .2s;
    text-transform: uppercase;
}

.components-menu-item:hover {
    color: var(--magenta);
    text-shadow: 0 0 20px rgba(237, 20, 91, 0.5);
}


.btn-join {
    font: 12px 'Gotham HTF Book';
    font-weight: 500;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
    border: 2px solid var(--magenta);
    transition: .2s;
    text-transform: uppercase;
}

.mobile-btn {
    display: none;
}

#menu-header .btn-join {
    background-color: var(--magenta);
    width: 150px;
    color: var(--white);
}

#menu-header .btn-join:hover {
    box-shadow: 0 0 20px var(--magenta);
}

#apresentation-page {
    z-index: 1;
    width: 100%;
    height: 110vh;
    background-image: url(../images/header.png);
    background-size: 100% 110vh;
    overflow: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.graduacao-heros {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.graduacao-heros-title {
    font: 60px 'Gotham HTF Medium';
    font-weight: 500;
    line-height: 70px;

    text-align: center;
    color: var(--light-gray);

}

.graduacao-heros-desc {
    font: 40px 'Gotham HTF Book';
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--light-gray);

}

.apresentation-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 60px;
    padding-bottom: 150px;
}

.apresentation-page-content .btn-join,
.turmas .btn-join {
    width: 180px;
    color: var(--magenta);
}

.apresentation-page-content .btn-join:hover,
.turmas .btn-join:hover {
    background-color: var(--magenta);
    color: var(--black);
}

.informacoes-curso {
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.informacoes-cursos-title {
    font: 50px 'Gotham HTF Book';
    text-transform: uppercase;
    color: var(--light-gray);
    text-transform: uppercase;
    position: relative;
    bottom: 48px;
}

.informacoes-cursos-subtitle {
    font-family: 'Gotham HTF Medium';
    font-size: 16px;
    text-transform: uppercase;
    color: var(--magenta);
    position: absolute;
    margin-left: 655px;
}

.informacoes-curso-columns {
    width: 100%;
    display: flex;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}

.informacoes-curso-columns div {
    height: 341px;
    width: 50%;
}

.informacoes-curso-column-left {
    color: var(--light-gray);
    border-right: 0.5px solid var(--gray);
}

.informacoes-curso-column-left p {
    padding-right: 98px;
}

.informacoes-curso-column-right {
    color: var(--gray);
    border-left: 0.5px solid var(--gray);
}



.informacoes-curso-column-right-list {
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.list-marker {
    max-width: 20px;
    background-color: var(--gray);
    max-height: 1px;
    margin: 14px 19px 0 73px;
    transition: .2s;
}



.list-marker-active {
    box-shadow: 0px 0px 10px 2px var(--magenta);
    background-color: var(--magenta);
}

.curso-column-right-list-item {
    display: flex;
    transition: .2s;
}


.curso-column-right-list-item:hover {
    color: var(--light-gray);
}

.grade-content {
    padding-top: 219px;
    width: 962px;
    margin: auto;
    margin-bottom: 151px;
}

.grade-title {
    font-family: 'Gotham HTF Medium';
    font-weight: 500;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--light-gray);
}

.grade-subtitle {
    display: flex;
}

.grade-subtitle-marker {
    height: 1px;
    width: 74px;
    background-color: var(--gray);
    position: relative;
    margin: 17px 14px 0 0;
}

.grade-subtitle-text {
    font-family: 'Gotham HTF Book';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: var(--gray);
    margin-bottom: 85px;
}

.arrow-down {
    display: flex;
    position: absolute;
    width: 100%;
    height: fit-content;
    justify-content: center;
    margin-top: 410px;
}

.arrow-down-icon {
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid var(--magenta);
    border-left: 2px solid var(--magenta);
    transform: rotate(225deg);
    position: absolute;
    transition: .5s;
    animation: scrollAnimation 3s infinite ease-in-out;
}



@keyframes scrollAnimation {
    0% {
        margin-top: 30px;
    }

    50% {
        margin-top: 50px;
    }

    100% {
        margin-top: 30px;
    }
}

#scroll-text {
    font-family: 'Gotham HTF Book';
    font-style: normal;
    color: var(--light-gray);
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
}

.accordion-active {
    height: 382px;
}

.gaveta-turmas {
    width: 100%;
    border: 1px solid var(--light-gray);
    color: var(--light-gray);
    transition: 0.5s;
    flex-direction: column;
    overflow: hidden;
    height: 90px;
}

.accordion-top-elements {
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 0 40px;
    align-items: center;

}

.gaveta-turmas:hover {
    border-color: var(--magenta);
    color: var(--magenta);
}

.accordion-title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    height: fit-content;
}

.accordion-btn {
    border-radius: 50%;
    border: 1px solid var(--magenta);
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
}

.accordion-btn-element {
    margin: auto;
    width: 21px;
    height: 2px;
    background-color: var(--magenta);
}

#btn-element-action1,
#btn-element-action2 {
    position: absolute;
    transform: rotate(90deg);
    transition: 0.5s;
}

.accordion-turmas-content {
    margin: 0px 40px 0;
    width: 764px;
    height: 200px;
    position: relative;
}

.accordion-text-decoration {
    width: 1px;
    background-color: var(--magenta);
    height: 137px;
    position: absolute;
}

.gavetas-turmas-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--magenta);
    margin-left: 21px;
}

.gavetas-turmas-text {
    margin-left: 21px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
    letter-spacing: 0.05em;
}

#accordion-2 {
    margin-top: 20px;
}

.accordion2-content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}



.accordion2-content-top-line,
.accordion2-content-bottom-line {
    display: flex;
    gap: 5px;
    margin: 0 auto;
}

.accordion2-content-top-line {
    margin-bottom: 5px;
}

.accordion2-content-bottom-line {
    margin-bottom: 80px;
}

.accordion2-item {
    width: 220px;
    height: 156px;
    display: flex;
}


.accordion2-item-title {
    font-family: 'Gotham HTF Book';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;


}

.accordion2-item-content {
    padding: 0px 20px 25px;
    width: 100%;
    height: fit-content;
    padding-top: 30px;
    transition: 0.3s;
    color: var(--light-gray);
    position: relative;
}

.accordion2-item-content:hover {
    box-shadow: 0px 0px 5px var(--magenta);
}


.accordion2-item-content:hover {
    background-color: var(--magenta);
    color: var(--black);
}

.accordion-2-item-decoration {
    width: 35px;
    height: 1px;
    background-color: var(--light-gray);
    position: absolute;
    margin-top: 24px;

}

.turmas {
    margin: 0 auto;
    width: 962px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 193px;
}

.turmas-title {
    font-family: 'Gotham HTF Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    text-transform: uppercase;
    width: fit-content;
    color: var(--light-gray);
}

.turmas-title-under {
    width: 40px;
    height: 4px;
    margin: 25px auto 0;
    background-color: #ED145B;
}

.turmas-table {
    margin-top: 66px;
    width: 100%;
    height: 216px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--light-gray);
}

.turmas-table th,
.turmas-table td {
    border: 1px solid var(--dark-gray);
    height: 72px;
    text-align: center;
    vertical-align: middle;
}

.turmas-table-head {
    text-transform: uppercase;
}

.table-unidade-nome {
    text-transform: uppercase;
    color: var(--magenta);
}

.table-head-item {
    align-items: center;
}

.table-small-text {
    font-family: 'Roboto';
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    width: fit-content;
    height: fit-content;

}

.table-th-mensalidade {
    width: 210px;
}

.table-th-horario {
    width: 153px;
}

.table-th-campus {
    padding: 0 44px;
}

.table-th-duracao {
    width: 176px;
}

.table-small-text {
    font-family: 'Roboto';
    font-size: 11px;
}

.table-th-dias {
    width: 234px;
}

.dias-text {
    margin: 0 10px;
}

.horario-text {
    text-align: left;
    margin-left: 23px;
}

.table-subtitle {
    color: var(--gray);
    font-family: 'Roboto';
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-left: auto;
    margin-top: 8px;
}

.turmas-btn {
    margin-top: 50px;

}

@media screen and (max-width: 1024px) {
    
}