@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Gotham HTF Medium';
    src: url(../font/GothamHTF-Medium.otf);
}
@font-face {
    font-family: 'Gotham HTF Bold';
    src: url(../font/GothamHTF-Bold.otf);
}
@font-face {
    font-family: 'Gotham HTF Book';
    src: url(../font/GothamHTF-Book.otf);
}

:root {
    --white: #FFFFFF;
    --light-gray: #91A3AD;
    --magenta: #ED145B;
    --black: #000000;
    --gray: #616D72;
    --dark-gray: #32383B;
    --header-gray: #151819;
}

html{
    scroll-behavior: smooth;
}

body{
    
    background-color: var(--black);
}

header{
    height: 100vh;
    
}

.header {
    width: 100%;
    height: 80px;
    background-color: var(--header-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

#menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin: 0 auto;
    letter-spacing: 0.05em;
}


.menu-list{
    display: flex;
    flex-direction: row;
    gap: 80px;
    
}

.components-menu-item{
    font: 15px 'Gotham HTF Book';
    font-weight: 500;
    text-decoration: none;
    color: var(--light-gray);
    transition: .2s;
    text-transform: uppercase;
}

.components-menu-item:hover {
    color: var(--magenta);
    text-shadow: 0 0 20px rgba(237, 20, 91, 0.5);
}


.btn-join{
    font: 12px 'Gotham HTF Book';
    font-weight: 500;
    text-decoration: none;
    padding: 12px 0;
    text-align: center;
    border: 2px solid var(--magenta);
    transition: .2s;
    text-transform: uppercase;
}

#menu-header .btn-join {
    background-color: var(--magenta);
    width: 150px;
    color: var(--white);
}

#menu-header .btn-join:hover {
    box-shadow: 0 0 20px var(--magenta);
}

#apresentation-page {
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    background-image: url(../images/header.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.graduacao-heros{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.graduacao-heros-title{
    font: 60px 'Gotham HTF Medium';
    font-weight: 500;
    line-height: 70px;

    text-align: center;
    color: var(--light-gray);
    
}

.graduacao-heros-desc {
    font: 40px 'Gotham HTF Book';
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--light-gray);

}

.apresentation-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 60px;
}

.apresentation-page-content .btn-join {
    width: 180px;
    color: var(--magenta);
}

.apresentation-page-content .btn-join:hover {
    background-color: var(--magenta);
    color: var(--black);
}

.informacoes-curso {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.informacoes-cursos-title {
    font: 50px 'Gotham HTF Book';
    text-transform: uppercase;
    color: var(--light-gray);
    text-transform: uppercase;
    position: relative;
    bottom: 48px;
}

.informacoes-cursos-subtitle {
    font-family: 'Gotham HTF Medium';
    font-size: 16px;
    text-transform: uppercase;
    color: var(--magenta);
    position: absolute;
    right: 580px;
}

.informacoes-curso-columns{
    width: 100%;
    display: flex;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    
}

.informacoes-curso-columns div {
    height: 341px;
    width: 50%;
}

.informacoes-curso-column-left {
    color: var(--light-gray);
    border-right: 0.5px solid var(--gray);
    }

.informacoes-curso-column-left p {
    padding-right: 98px;
}

.informacoes-curso-column-right{
    color: var(--gray);
    border-left: 0.5px solid var(--gray);
}

.informacoes-curso-column-right-list{
    gap: 35px;
    display: flex;
    flex-direction: column;
}

.list-marker {
    max-width: 20px;
    background-color: gray;
    max-height: 1px;
    margin: 14px 19px 0 73px;
    opacity: 0.8;
}


.curso-column-right-list-item{
    display: flex;
}

.grade-content{
    padding-top: 219px;
    width: 50%;
    margin: auto;

    height: 1000px;
}

.grade-title {
    font-family: 'Gotham HTF Medium';
    font-weight: 500;
    font-size: 45px;
    text-transform: uppercase;
    color: var(--light-gray);
}

.grade-subtitle{
    display: flex;
}

.grade-subtitle-marker {
    height: 1px;
    width: 74px;
    background-color: var(--gray); 
    position: relative;
    margin: 25px 14px 0 0;
}

.grade-subtitle-text {
    font-family: 'Gotham HTF Book';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    margin-top: 7px;
    color: var(--gray);
}

.arrow-down{
    display: flex;
    position: absolute;
    background-color: #616D72;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

.arrow-down-icon {
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid var(--magenta);
    border-left: 2px solid var(--magenta);
  transform: rotate(135deg);
  position: absolute;
}

